<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>Test Form</title>
	</head>
	<body>
		<form action="/UserRegisterForm" method="POST">
			<table>
				<tr>
					<td><b>Student Registration Form</b></td>
				</tr>
				<tr>
					<td>User ID</td>
					<td><input type=text name=userId id="userId" size="30"></td>
				</tr>
				<tr>
					<td>password</td>
					<td><input type=text name=password id="password" size="30"></td>
				</tr>
				<tr>
					<td>emailId</td>
					<td><input type=text name=emailId id="emailId" size="30"></td>
				</tr>
				<tr>
					<td><button type="submit">Submit Form</button></td>
				</tr>
			</table>
		</form>
	</body>
</html>